*.d
*.o
*.a
*.in
*.out
*.log
.#*
.deps
m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
parse.c
stamp-h1
ylwrap
tags
obj

#Other VCS files
CVS/
smtpd/CVS
smtpd/smtpctl/CVS
smtpd/smtpd/CVS
smtpd/mail/CVS
smtpd/mail/CVS
smtpd/mail/*/CVS
smtpd/smtpctl/CVS/*

#Editor temporary files
*~
.idea

# Coverity
cov-int/
cov-analysis-linux64/
cov-analysis-linux64.tgz
opensmtpd.tgz

# Clang scan-build
clang-report/


# TLS certs
open.smtpd.cert
open.smtpd.csr
open.smtpd.key
