*.o
*.a
*.in
*.out
*.log
*~
.#*
.deps
m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
parse.c
stamp-h1
ylwrap
tags
obj
