*.d
*.o
*.a
*.in
*.out
*.log
.#*
.deps
m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.status
depcomp
libtool
ltmain.sh
missing
parse.c
stamp-h1
ylwrap
tags
obj

#Other VCS files
CVS/
smtpd/CVS
smtpd/smtpctl/CVS
smtpd/smtpd/CVS
smtpd/mail/CVS
smtpd/mail/CVS
smtpd/mail/*/CVS
smtpd/smtpctl/CVS/*

#Editor temporary files
*~
.idea
